<!DOCTYPE html>
<html>
<body style="font-family: Arial; background:#f7f2ec; padding:20px;">

  <h2>Thank you for your Handmade 🌿</h2>

  <p>Your payment was successful.</p>
  <p><b>Order ID:</b> {{ order_id }}</p>

  <p>We will start crafting and shipping your products soon.</p>
  <p>We're delighted to have you as part of our community of ceramic art lovers. Each item you purchase is thoughtfully handcrafted, making it one-of-a-kind , just like you. Your support means the world to us and helps keep the art of ceramics alive.</p>
  <p>We hope this brings warmth, beauty, and joy to your space for years to come.</p>
  <br>

  <img src="cid:care_card" style="max-width:600px; width:100%; border-radius:10px;" />

  <br><br>

  <p>– Basho by Shivangi</p>

</body>
</html>